// @use '@variables' as variables;

@mixin fontPrimary {
  font-family: 'Arial', sans-serif;
}

@mixin fontPrimaryLight {
  font-family: 'Arial', sans-serif;
}

@mixin fontPrimaryMedium {
  font-family: 'Arial', sans-serif;
}

@mixin fontPrimaryBold {
  font-family: 'Arial', sans-serif;
}

@mixin fontPrimaryHeavy {
  font-family: 'Arial', sans-serif;
}

@mixin fontSecondary {
  font-family: 'Tan Aesop';
  color: variables.$charcoal;
}
